.slider {
    height: 100px;
    /*margin: 0 auto;*/
    position: relative;
    width: 320px;
    overflow-x: hidden;
    left: 0;
}
.sliderWrapper {
    display: flex;
    /*margin: 0 calc(var(--slide-margin) * -1);*/
    position: absolute;
    transition: transform cubic-bezier(0.25, 1, 0.35, 1);
    left: 12px;
    margin:0;
    padding: 0 0 0 10px;
}
.sliderControl {
    display: flex;
    justify-content: space-between;
    position: absolute;
    /*top: calc(100% + 1rem);*/
    top: 33%;
    width: 240px;
    z-index: 1;
    left: 20px;
}
.icon {
    fill: #6B7A8F;
    width: 100%;
    opacity:0;
}
.icon:hover {
    opacity: 1;
    fill: var(--white-color);
}
.slide {
    display: flex;
    align-items: center;
    /*color: white;*/
    flex: 1;
    flex-direction: row;
    width: 250px;
    height: 93px;
    justify-content: center;
    margin-right: 5px;
    opacity: 0.25;
    position: relative;
    left:0;

    text-align: center;
    transition: opacity calc(var(--base-duration) / 2) var(--base-ease),
    transform calc(var(--base-duration) / 2) var(--base-ease);

    z-index: 1;
}



.slidePrevious:hover,
.slideNext:hover {
    opacity: 0.5;
}
.slidePrevious {
    cursor: w-resize;
}
.slideNext {
    cursor: e-resize;
}
.slideNext:hover {
    transform: translateX(-2%);
}

.slidePrevious:hover {
    transform: translateX(2%);
}
.slideCurrent {
    --x: 0;
    --y: 0;
    --d: 50;
    opacity: 1;
    pointer-events: auto;
    user-select: auto;
}
.slideImageWrapper {
    /*background-color: #1D1F2F;*/
    border-radius: 8px;
    height: 100px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    /*transition: transform*/
    width: 320px;
}
.slideImage {
    --d: 20;
    width: 250px;
    height: 93px;
    left: 0;
    /*object-fit: cover;*/
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: -5%;
    /*transition:*/
    /*        opacity var(--base-duration) var(--base-ease),*/
    /*        transform var(--base-duration) var(--base-ease);*/
    user-select: none;
}
.btn{
    --size: 2rem;
    align-items: center;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 100%;
    display: flex;
    height: var(--size);
    padding: 0;
    width: var(--size);
}
.btn:hover{
    background-color: var(--black-color);
}
.btnprevious{
    transform: rotate(180deg);
    left: 5px;
}

@media (min-width: 780px){
    .slider {
        height: 200px;
        width: 106%;
        left: -50px;
    }
    .sliderWrapper {
        left: 50px;
    }
    .sliderControl {
        top: 45%;
        width: 686px;
        left: 60px;
    }

    .slide {
        height: 200px;
        margin-right: 10px;
        width: 700px;
    }
    .slideImageWrapper {
        height: 200px;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        /*transition: transform*/
        width: 700px;
    }

    .slideImage {
        --d: 20;
        width: 700px;
        height: 200px;
        left: 0%;
        top: -5%;
        object-fit: cover;
        /*transition:*/
        /*        opacity var(--base-duration) var(--base-ease),*/
        /*        transform var(--base-duration) var(--base-ease);*/
        user-select: none;

    }
    .btn {
        --size: 3rem;
        background-color: transparent;
        border-radius: 100%;
        display: flex;
        height: var(--size);
        padding: 0;
        width: var(--size);
    }


}
@media (min-width: 1280px) {
    .slider {
        height: 300px;
        width: 106%;
        left: -110px;
    }
    .sliderWrapper {
        left: 110px;
    }
    .sliderControl {
        top: 45%;
        width: 1030px;
        left: 132px;
    }

    .slide {
        height: 300px;
        margin-right: 190px;
        width: 900px;
    }
    .slideImageWrapper {
        height: 300px;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        /*transition: transform*/
        width: 1060px;
    }

    .slideImage {
        /*--d: 20;*/
        width: 1060px;
        height: 300px;
        left: 0%;
        top: -5%;
        object-fit: cover;
        /*transition:*/
        /*        opacity var(--base-duration) var(--base-ease),*/
        /*        transform var(--base-duration) var(--base-ease);*/
        user-select: none;

    }
    .btn {
        --size: 3rem;
        background-color: transparent;
        border-radius: 100%;
        display: flex;
        height: var(--size);
        padding: 0;
        width: var(--size);
    }



}