.container{
    width: 100%;
    max-width: 1000px;
    overflow: hidden;
    position:relative;
    padding-bottom: 8px;
    cursor:pointer;
}
.slider{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: unset;
    position:relative;
}
.box{
    width: 240px;
    height: 104px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 6px 25px rgba(6, 5, 50, 0.05);
    border-bottom: 1px solid var(--gray-corp);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-shrink: 0;
    margin-right: 10px;
}
.leftSide{
    width: 30%;
    display: flex;
    padding-left:12px;
    padding-bottom:10px;
}
.img{
    display:block;
    width: 86px;
    height:86px;
    cursor:pointer;
}
.rightSide{
    width: 48%;
    display: flex;
    flex-direction: column;
}
.title{
    font-size:14px;
    line-height: 19px;
    font-weight: 400;
    font-style: normal;
    margin:0;
}
.price{
    font-size:15px;
    line-height: 22px;
    font-weight: 600;
    font-style: normal;
    margin:0;
}
.icon{
    fill: #6B7A8F;
    width: 100%;
    opacity: 0;
}
.icon:hover {
    fill: var(--white-color);
    opacity: 1;
}
.sliderControl{
    display: flex;
    justify-content: space-between;
    position: absolute;
    /*top: calc(100% + 1rem);*/
    top: 33%;
    width: calc(95%);
    z-index: 1;
    left: 20px;
}
.btnOfNew{
    align-items: center;
    background-color: transparent;
    border: 3px solid transparent;
    border-radius: 100%;
    display: flex;
    padding: 0;
    width: 30px;
    height: 30px;
}
.btnOfNew:hover{
    background-color: var(--black-color);
}
.btnOfNewprevious{
    transform: rotate(180deg);
    left: 5px;
}
@media (min-width: 1280px){
    .container{
        max-width: 1080px;
    }
    .slider{
        left:8px;
    }
    .box{
        width: 250px;
        margin: 4px 22px 0 0;
    }
    .leftSide{
        width: 37%;
        padding-bottom: 0;
    }
    .rightSide{
        width: 50%;
    }
    .sliderControl {
        top: 40%;
        width: calc(96%);
        left: 20px;
    }
}