.container{
    width: 250px;
    min-height: 93px;
    margin: 0 0 -2px -14px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.slider{
    margin:0;
    padding: 0;
    list-style-type: none;
    position: relative;
    display: flex;
    transition: transform 0.6s ease;
}
.slide{
    opacity:0;
}
.active{
    opacity:1;
}
.element{
    width: 250px;
    height: 93px;
    margin-left:13px;
    box-shadow: rgb(115 121 70) 0 5px 15px -5px;
    border-radius: 10px;
}
.prev,
.next{
    display: block;
    cursor: pointer;
    position: absolute;
    top:40%;
    width: 20px;
    height: 20px;
    color:var(--white-color);
    user-select: none;
    z-index: 1;
}
.prev{
    left:15px;
}
.next{
    right:4px;
}
.prev:hover,
.next:hover{
    color: rgba(0, 0, 0, 0.4);
}
.dotsContainer{
    display: none;
}

@media (min-width: 1280px){
    .container{
        max-width: 1060px;
        max-height: 300px;
        overflow: visible;
    }
    .element {
        width: 1060px;
        height: 300px;
    }
    .prev,
    .next{
        top:50%;
        width: 40px;
        height: 40px;

    }
    .prev{
        left:32px;
    }
    .next{
        right: 4px;
    }
    .prev:hover,
    .next:hover{
        color: rgba(0, 0, 0, 0.4);
    }

    .dotsContainer{
        width: 100%;
        height: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        /*z-index: 3;*/
        text-align: center;
    }

    .dot{
        width: 10px;
        height: 10px;
        margin: 0 2px;
        padding: 0;
        display: inline-block;
        background-color: #BBB;
        border-radius: 50%;
        cursor: pointer;
        /*transition: background-color 0.6s ease;*/
    }
    .dot:hover{
        background-color: #717171;
    }
}