.box{
    width: 300px;
}
.element{
    position:relative;
}
.deleteImg{
    width: 11px;
    height: 18px;
    cursor: pointer;
    position: absolute;
    top:34px;
    right:7px;
}
.topSide{
    display: flex;
    border-bottom: 1px solid #E1E1E8;
}
.topLeftSide{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin:0 10px 0 0;
}
.productImg{
    width: 73px;
    height: 73px;
}
.topRightSide{
    display: block;
    position: relative;
    max-width: 190px;
}
.productTitle{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin: 10px 0 7px 0;
    max-width: 210px;
}
.productToppings{
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #72788B;
    margin: 0 0 7px 0;
}
.productExclIngredients{
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #72788B;
    margin: 0 0 7px 0;
}
.bottomSide{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /*margin: 16px;*/
    width: 300px;
}
.price{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}