.container{
    display: block;
    width: 300px;
}
.topSide{
    display: flex;
    border-bottom: 1px solid #E1E1E8
}
.topLeft{
    display: block;
    position: relative;
    top: 5px;
}
.img{
    width: 73px;
}
.topRight{
    display: block;
}
.title{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    margin: 10px 0 7px 0;
}
.description{
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #72788B;
    margin: 0 0 7px 0;
}
.giftLine{
    display: flex;
    flex-direction: row;
}
.giftVector{
    width: 12px;
    height: 12px;
}
.giftText{
    font-family: Arial,sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #D15700;
    margin:0 0 8px 8px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 16px 0 16px 0;
    width: 300px;
}
.price{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
}
