.container{
    position: fixed;
    visibility: hidden;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    margin:0;
    padding:0;
    background-color: var(--black-color);
    z-index:1;
}
.closeElem{
    position: absolute;
    right: 0;
    top:0;
    width: 50px;
    height: 50px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 31px;
    font-weight: 600;
    transform: rotate(45deg);
}
.logoInMenu{
    background-image: url("../../../img/header_img/logo_white.png");
    width: 156px;
    height: 23px;
    position: absolute;
    top:10px;
    left:10px;
}
.geoBlock{
    width: 276px;
    height: 76px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left:8px;
    margin-top:37px;
    color:var(--white-color);
}
.geoImg{

}
.geoCity{
    padding-left:11px;
    font-size: 20px;
    font-weight: 600;
}
.changeCity{
    font-size: 13px;
    line-height: 18px;
    color: var(--white-color);
    opacity: 0.5;
    margin-left:43px;
    margin-top:-24px;
}
.changeLink{
    text-decoration: none;
    color: var(--white-color);
    opacity: 0.5;
    margin-left: -8px;
}
.line{
    border-bottom: 1px solid var(--white-color);
    opacity: 0.2;
    margin-bottom: 20px;
}
.ratingBlock{
    width: 276px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left:36px;
    color: var(--white-color);
}
.ratingTime{

}
.ratingImg{

}
.menuList{
    list-style-type: none;
    padding: 0;
}
.listElem{
    display: block;
    /*padding: 15px 24px;*/
    color: var(--white-color);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    line-height: 27px;
    text-decoration: none;
    letter-spacing: -0.7px;
    margin-top:27px;
    margin-left:35px;
}
.listElem:hover{
    text-decoration: underline;
    color: var(--white-color);
}