.toggle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn{
    width: 30px;
    height: 32px;
    border: 1px solid #F3F3F7;
    background-color: #F3F3F7;
    color: #73798C;
}
.minusBtn{
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
}
.plusBtn{
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
}
.plusBtn:hover,
.minusBtn:hover{
    outline: none;
    box-shadow: 1px 0px 1px 1px rgba(34, 60, 80, 0.11)
}
.qty{
    border:none;
    border-top:1px solid #F3F3F7;
    border-bottom: 1px solid #F3F3F7;
    text-align: center;
    font-size: 16px;
    width: 40px;
    height: 32px;
    color: #73798C;
    background-color: #F3F3F7;
}