.display{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    top:0;
    left:0;
    /*opacity: 0;*/
    /*visibility: hidden;*/
    overflow-y: auto;
    overflow-x: hidden;
    z-index:1;
}
.show{
    visibility: visible;
    opacity: 1;
}
.area{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.body{
    height: auto;
    width: 330px;
    display: block;
    background-color: #FCFCFC;
}
.content{
    background-color: var(--white-color);
    border-radius: 24px;
    padding:10px;
    position: relative;
    opacity: 1;
    transform: translate(0px -100%);
}
.closeElem{
    visibility:hidden;
}
.closeArrow{
    display:flex;
    position: sticky;
    left: 10px;
    top:10px;
    width: 48px;
    height: 48px;
    cursor:pointer;
    z-index: 1;
}
.leftSide{
    display:block;
}
.bigRound{

}
.mediumRound{

}
.img{
    width: 288px;
    height: 288px;
    position: relative;
    top: 16px;
    left: 13px;
}
.rightSide{
    display: block;
}

.title{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 33px;
    margin: 16px 0 10px 0;
    width: 85%;
}
.description{
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 12px;
    color: var(--gray-dark);
}
.ingredients{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-right:10px;
    color: #4D4D4D;
}
.btnsContainer{
    margin-left:6px;
}
.toppingsTitle{
    font-size: 16px;
    font-weight: 600;
    font-style: normal;
    line-height: 22px;
    margin-bottom: 12px;
    /*opacity:0;*/
}
.toppingsContainer{
    width: 310px;
    /*height: 150px;*/
    display: flex;
    flex-wrap: wrap;
}
.footer{
    width: 320px;
    height: 80px;
    background-color: var(--white-color);
    position: sticky;
    bottom:0;
    left:0;
    margin-left:-8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 0;
}
.btnToCart{
    width: 288px;
    height: 48px;
    border-radius: 1000px;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);
    cursor: pointer;
}
.btnToCart:hover{
    background-color: var(--orange-dark);
}
@media (min-width: 1280px){
    .display{
        left:0;
        margin:0 auto;
    }
    .body{
        height: 610px;
        width: 920px;
        border-radius:24px;
        display:flex;
        align-items: center;
        justify-content: center;
        padding:30px 10px;
        transition: all 0.8s ease 0s;
        margin:0 auto;
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        margin:0;
        padding:0;
        border-radius: 24px;
    }
    .closeElem{
        visibility: visible;
        position: absolute;
        top:-30px;
        right:-47px;
        font-size: 50px;
        line-height: 50px;
        color: var(--white-color);
        text-decoration: none;
        transform: rotate(45deg);
    }
    .closeArrow{
        visibility: hidden;
    }
    .leftSide{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .bigRound{
        border: 1px dashed var(--gray-corp);
        width: 452px;
        height: 452px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mediumRound{
        border: 1px dashed var(--gray-corp);
        width: 360px;
        height: 360px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img{
        width: 366px;
        height: 366px;
        top:2px;
        opacity:1;
        border-radius: 24%;
    }
    .rightSide{
        width: 380px;
        height:580px;
        background-color:#FCFCFC;
        display: flex;
        flex-direction: column;
        position: relative;
        padding:0 30px 0 30px;
        border-radius: 0 20px 20px 0;
    }

   .title{
       margin:0;
   }
   .description{
       margin:3px 0 11px 0;
   }
   .toppingsContainer{
       overflow: hidden;
   }
   .footer{
       width: 380px;
       height: 109px;
       margin-left:-30px;
   }
}