.container{
    width: 100%;
    max-width: 1000px;
    height: 23px;
    display: flex;
    background-color: var(--white-color);
    margin-top: 5px;
}
.block{
    width: 100%;
}
.mobHeader{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}
.mobLogo{
    background-image: url("../../../img/header_img/logo_mobile.png");
    width: 156px;
    height: 23px;
    position: relative;
}
.burgerMenuBtn{
    position: relative;
    width: 20px;
    height: 20px;
    right:10px;
    border:none;
    background-color: unset;
    cursor:pointer;
}
.spanTop,
.spanBottom{
    position:absolute;
    width: 20px;
    height: 2px;
    background-color: var(--black-color);
    cursor:pointer;
}
.spanTop{
    top:8px;
}
.spanBottom{
    bottom: 2px;
}
@media (min-width: 1280px){
    .container{
        width: 1280px;
        height: 116px;
        max-width: 1550px;
        display: flex;
        position: relative;
        margin-bottom: 30px;
    }
    .block{
        width: 1280px;
        margin: 0 auto;
        display: flex;
    }
    .mobHeader{
        display: none;
    }
}