.container{
    margin-top:32px;
    margin-bottom:30px;
}
.title{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}
.input{
    border:1px solid #B8BDCF;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    width: 175px;
    height: 30px;
    color: #72788B;
    background-color: var(--white-color);
    border-top-left-radius: 1000px;
    border-bottom-left-radius: 1000px;
    justify-content: space-between;
}
.btn{
    width: 114px;
    height: 30px;
    background-color: var(--orange-corp);
    border:1px solid var(--orange-corp);
    color: var(--white-color);
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 1000px;
    margin-left:-5px;
    margin-top:-1px;
}