.box{
    border-bottom: 1px solid var(--gray-corp);
    display: flex;
    margin: 13px 0 0 0;
    padding: 0 0 15px 0;
}
.leftSide{
    display: flex;
    padding-bottom: 7px;
}
.img{
    display:block;
    width: 86px;
    height:86px;
    cursor:pointer;
}
.rightSide{
    min-width: 156px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 21px 0 9px;
}
.title{
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
    font-style: normal;
    margin:0;
}
.description{
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-style: normal;
    margin:0;
    padding:2px 0 4px 0;
    color:  var(--gray-dark);
}
.priceBox{
    display:inline-block;
    position: relative;
}
.priceBtn{
    width: 96px;
    height: 32px;
    border:1px solid var(--orange-light);
    background-color: var(--orange-light);
    border-radius: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px 7px 8px;
    cursor: pointer;
}
.priceBtn:hover{
    background-color: var(--orange-middle);
    color: var(--white-color);
}
.priceElem{
    position: absolute;
    top:6px;
    left:18px;
    color: var(--orange-dark);
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    cursor: pointer;
}
@media (min-width: 1280px) {
    .box{
        width: 250px;
        min-height: 390px;
        margin: 0 14px 60px 0;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        border: unset;
    }
    .leftSide{
        width: 97%;
        height: 51%;
        align-items: center;
        /*margin-left: 10px;*/
        padding:0;
    }
    .img{
        width: 222px;
        height: 222px;
    }
    .rightSide{
        width: 97%;
        height:49%;
        position: relative;
        overflow:hidden;
        padding:0;
        justify-content: unset;
    }
    .title{
        font-size: 20px;
        line-height: 27px;
        margin:0 0 8px 0;
    }
    .description{
        font-size: 14px;
        line-height: 19px;
        padding:0;
    }
    .priceBox{
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        position: absolute;
        bottom:0;
        left:0;
        width: 95%;
        height: 32px;
    }
    .priceBtn{
        position: absolute;
        top:0;
        right: 0;
    }
    .priceBtn:before{
        content: 'Выбрать';
        color: var(--orange-corp);
    }
    .priceElem{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        font-style: normal;
        justify-content: flex-start;
        padding-right:0;
        color: var(--black-color);
        left:-136px;
    }
}