.container{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom:20px;
    right: 20px;
    margin-right:13px;
    /*z-index: 1;*/
    /*visibility: hidden;*/
}
.body{
    width: 56px;
    height: 56px;
    background: linear-gradient(180deg, #FF6A0A 0%, #FD5608 100%);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.15);
    border-radius: 50%;
}
.content{
    position: relative
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 10px 10px 15px;
    cursor: pointer;
}
.counterContainer{
    position: absolute;
    top:-14px;
    right: -5px;
    border:1px solid #FF6409;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    background-color: var(--white-color);
}
.number{
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color:#FF6409;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px 1px 1px 1px;
}