.display{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    top:0;
    left:0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index:1;
}
.area{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.body{
    height: auto;
    width: 330px;
    display: block;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding:30px 10px;*/
    background-color: #FCFCFC;
}
.content{
    background-color: var(--white-color);
    border-radius: 24px;
    /*width: 300px;*/
    /*height: 600px;*/
    padding:10px;
    position: relative;
    opacity: 1;
    transform: translate(0px -100%);
}
.closeElem{
    visibility: hidden;
}
.closeArrow{
    display:flex;
    position: sticky;
    left: 10px;
    top:10px;
    width: 48px;
    height: 48px;
    cursor:pointer;
    z-index: 1;
}
.imgSide{
    display:block;
}
.img{
    width: 288px;
    height: 288px;
    position: relative;
    top: 16px;
    left: 13px;
}
.productsContainer{
    display: none;
    width:530px;
    max-height: 610px;
    /*overflow:hidden;*/
    margin:10px 10px 10px 20px;
}
.mainPart{
    display: block;
}
.title{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 33px;
    margin: 16px 0 10px 0;
    width: 85%;
}
.description{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-right:10px;
    color: #4D4D4D;
}
.pizzaToChooseContainer{
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    width: 320px;
    height: 125px;
    position:sticky;
    bottom: 0;
    left:0;
    background-color: var(--white-color);
}
.priceLine{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
}
.priceTitle{
    font-size: 16px;
    line-height: 16px;
}
.pricesBox{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 120px;
}
.oldPrice{
    font-size: 14px;
    line-height: 17px;
    color: rgb(92, 99, 112);
    text-decoration: line-through;
}
.newPrice{
    font-size: 16px;
    line-height: 16px;
}
.btnToCart{
    width: 288px;
    height: 48px;
    border-radius: 1000px;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);
    cursor:pointer;
}

@media(min-width: 1280px){
    .body{
        width: 890px;
        height: 610px;
        border-radius: 24px;
        margin:0 auto;
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
        margin:0;
        padding:0;
        overflow-y: scroll;
    }
    .closeElem{
        visibility: visible;
    }
    .closeArrow{
        display: none;
    }
    .imgSide{
        position: relative;
        left:-6px;
        width: 530px;
        height: 530px;
    }
    .img{
        width: 530px;
        height: 530px;
        border-radius: 24px;
        top:0;
        left:0;
    }
    .mainPart{
        position: relative;
        left:0;
        width: 350px;
        height: 610px;
        /*overflow: hidden;*/
        padding:30px;
    }
    .title{
        margin: 0;
    }
    .pizzaToChooseContainer{
        width: 300px;
    }
    .footer{
        width: 350px;
        position: sticky;
        bottom: -1px;
        margin-left:-20px;
        padding:10px 10px 10px 20px;
        border-bottom-left-radius: 24px;
    }
}