.sizeSwitch{
    position: relative;
    left:-6px;
    display: flex;
    margin-bottom: 11px;
    width:288px;
    height: 32px;
    background: var(--gray-corp);
    outline: none;
    border-radius: 100px;
}
.sizeToggle{
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 3px;
    right:-2px;
    width: calc(32.7%);
    transform: translateX(calc(100%));
    transition: transform 200ms ease-out 0s, width;
    padding: 2px;
    background: var(--white-color);
    box-shadow: 0px 3px 15px rgba(6, 5, 50, 0.05);
    border-radius: 100px;
}
.sizeInput{
    position: relative;
    top:0;
    left:0;
    border-radius: 100px;
    cursor: pointer;
    opacity:0;
}
.sizeLabel{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    bottom:0;
    left:0;
    margin: 7px 23px 5px -4px;
    cursor:pointer;
}
.doughSwitch{
    position: relative;
    left:-6px;
    display: flex;
    margin-bottom: 11px;
    width:288px;
    height: 32px;
    background: var(--gray-corp);
    outline: none;
    border-radius: 100px;
}
.doughToggle{
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 3px;
    right:-2px;
    width: calc(50%);
    transform: translateX(calc(0%));
    transition: transform 200ms ease-out 0s, width;
    padding: 2px;
    background: var(--white-color);
    box-shadow: 0 3px 15px rgba(6, 5, 50, 0.05);
    border-radius: 100px;
}
.doughInput{
    position: relative;
    top:0;
    left:0;
    border-radius: 100px;
    cursor: pointer;
    opacity:0;
}
.doughTraditional{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    bottom:-2px;
    left:8px;
    margin: 5px 26px 5px -2px;
    cursor:pointer;
}
.doughThin{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    position: relative;
    bottom: -3px;
    left: 23px;
    margin: 5px 26px 5px -2px;
    cursor:pointer;
}