.box{
    border:none;
    background: none;
    padding:0;
    outline: none;
}

.icon{
    width: 14px;
    height: 14px;
    margin: 6px 0 -4px 3px;
    cursor: pointer;
}
.lineTrough{
    text-decoration: line-through
}
.dashed{
    text-decoration: underline dashed;
}