.headline{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
}
.amount{
    font-size: 18px;
    line-height: 25px;
    font-weight: 600;
    /*color: var(--orange-corp);*/
    margin-right:22px
}
.btnsContainer{
    width: 300px;
    height: 50px;
}
.backBtn{
    display: none;
}
.backBtnIcon{

}
.btnToCart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 288px;
    height: 48px;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    color: var(--white-color);
    margin-top:14px;
    margin-bottom: 60px;
    border-radius: 1000px;
    padding: 13px 30px 13px 30px;
}
.btnToCartText{
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
}
.btnForwardIcon{
    width: 6px;
    height: 12px;
}
.btnToCart:hover{
    background-color: var(--orange-dark);
}