.container{
    display: none;
}
@media (min-width: 1280px){
    .container{
        display: flex;
        flex-direction: column;
        width: 1280px;
        height: 116px;
    }
    .body{
        width: 1060px;
        height: 116px;
        background-color: var(--white-color);
        z-index: 0;
    }
    .topSide{
        width: 1060px;
        height: 58px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--white-color);
    }
    .logoImg{
        position: relative;
        top:0;
        left:0;
        width: 249px;
        height: 48px;
        margin-right: 92px;
    }
    .deliveryBlock{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        width: 250px;
        height: 48px;
        position: relative;

    }
    .deliveryTitleWrap{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
        margin-bottom: 5px;
    }
    .deliveryTitle{
        font-size: 18px;
        line-height: 24px;
        font-weight: 600;
        font-style: normal;
        margin: 0 5px 0 0;
    }
    .textOrange{
        color: var(--orange-corp);
    }
    .rateBlock{
        display: flex;
        width: 145px;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: nowrap;
        position: relative;
    }
    .deliveryTime,
    .rateCount{
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        font-style: normal;
        margin:0 10px 0 0;
    }
    .dot{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        width: 4px;
        height: 4px;
    }
    .rateStar{

    }
    .contactBlock{
        width: 160px;
        height: 48px;
    }
    .phoneNumber{
        font-size: 18px;
        font-weight: 600;
        font-style: normal;
        line-height: 25px;
        letter-spacing: 0.7px;
        margin:0 0 5px 0;
    }
    .phoneText{
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        font-style: normal;
        color: #999999;
        margin:0;
    }

    .navigation{
        width: 1060px;
        height: 58px;
        display: flex;
        position: sticky;
        top:0;
        left: 0;
        flex-direction: row;
        justify-content: space-between;
        z-index: 2;
        background-color: var(--white-color);
    }
    .navList{
        list-style-type: none;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        margin-left:-39px;
        margin-top:39px;
    }
    .navElem{
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        font-style: normal;
        text-decoration: none;
        padding-right: 24px;
        color: var(--black-color);
    }
    .navElem:hover{
        color: var(--orange-corp);
    }
    .shopCartBtn{
        width: 150px;
        height: 40px;
        border-radius: 1000px;
        background-color: var(--orange-corp);
        border: 1px solid var(--orange-corp);
        font-size: 16px;
        font-weight: 600;
        line-height: 22px;
        color: var(--white-color);
        margin-top:8px;
        /*margin-left:77px;*/
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 11px;
    }
    .shopCartBtn:hover{
        background-color: var(--orange-hover);
        border: 1px solid var(--orange-hover);
    }
    .emptyCart{
        display: none;
    }
    .separationShopCart{
        width: 40px;
        position: relative;
    }
    .separatorLine{
        width: 1px;
        height: 24px;
        border-right: 1px solid rgb(255, 255, 255);
        opacity: 0.4;
        position: absolute;
        top:15px;
        left:10px;
    }
    .shopCartCounter{
        display: inline-block;
        width: 14px;
        text-align: center;
        position: relative;
        left:17px;

    }
}