.btn{
    position: relative;
    width: 95px;
    height: 150px;
    box-shadow: rgba(6, 5, 50, 0.12) 0 4px 20px;
    border-radius: 12px;
    background-color: var(--white-color);
    margin:10px 8px 10px 0;
    border: unset;
}
.img{
    width: 84px;
    height: 84px;
    border-top-left-radius: 10px;
}
.title{
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin:0;
    text-align: center;
}
.price{
    font-size: 14px;
    font-weight: 600;
    line-height: 19px;
    margin:0;
    text-align: center;
}
.redBorder{
    border: 1px solid var(--orange-corp);

}
.opacityDisable{
    opacity:0.5;

}