.container{
    width: 100%;
    background-color: var(--semi-black);
    color: var(--white-color);
    padding-left: 17px;
    padding-top: 13px;
}
.email{
    border-bottom: 1px solid var(--black-color);
    padding-bottom:20px;
    width: 288px;
    opacity: 0.1;
}
.emailLink{
    text-decoration: none;
    color: var(--white-color);
}
.box{
    margin-left:-41px;
}
.list{
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    padding-top:5px;
    margin-bottom: 28px;
}
.listElemTitle{
    margin-bottom: 12px;
    font-weight: 600;
}
.listElem{
    margin-bottom: 10px;
    font-weight: 400;
}
.listElemLink{
    text-decoration: none;
    color: var(--white-color);
}
.line{
    border-bottom: 1px solid var(--black-color);
    width: 288px;
    opacity: 0.1;
    margin:0;
}
.tabsContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tabsImg{
    padding-right:6px;
    padding-top:18px;
}
.appsContainer{
    display: flex;
    width: 301px;
    height: 60px;
    margin-left:-11px;
    margin-top: 13px;
    margin-bottom:10px;
}
.appsImg{
    width: 50%;
}
.logoContainer{
    width: 276px;
    height: 22px;
    display: flex;
    justify-content: space-between;
}
.logoImg{

}
.logoCopyright{
    font-size: 16px;
    line-height: 22px;
}
@media (min-width: 1280px){
    .container{
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 0;
    }
    .body{
        padding: 30px 110px 0 110px;
        width: 1280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .email{
        display: none;
    }
    .box{
        width: 300px;
        margin-right: 10px;
    }
    .list{

    }
    .line{
        display: none;
    }
    .appsContainer{
        display: none;
    }
    .tabsContainer{
        display: none;
    }
    .logoContainer{
        width: 77px;
    }
}