.container{
    min-width: 320px;
    background-color: #F3F3F7;
    margin:0-16px 0 -24px;
    position: relative;
}
.title{
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    padding: 24px 0 18px 24px;
    margin:0;
}
.slider{
    width: 313px;
    min-height: 155px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-shrink: unset;
    margin: 0 0 24px 24px;
    overflow: hidden;
}