.title{
    margin:25px 0 20px 0;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
}
.section{
    display: flex;
    flex-direction: column;
}
#do__pizza {
    display: none;
}
.redBorder{
    border: 1px solid var(--orange-corp);

}
@media (min-width: 1280px){
    .title{
        margin: 10px 0 40px 0;
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        font-style: normal;
    }
    #do__pizza {
        display: inline-block;
    }
    .section{
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 1280px;
    }
}