.infoBtn {
    position: relative;
    top: 46px;
    right: -271px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    background-color: #F0F2F5;
    cursor: pointer;
}

.infoIcon {
    position: absolute;
    top: 6px;
    right: 10px;
    width: 4px;
    height: 11px;
}

.box {
    position: fixed;
    top: 455px;
    left: 113px;
    width: 200px;
    height: auto;
    background-color: rgb(55, 53, 53);
    border-radius: 10px;
    visibility: hidden;
    z-index: 1;
}

.show {
    visibility: visible;
}

.content {
    padding: 7px;
}

.boxTitle {
    font-size: 12px;
    color: var(--white-color);
    opacity: 0.5;
    line-height: 16px;
    font-weight: 400;
    margin: 0 0 5px 0;
    text-align: left;
}

.boxElem {
    font-size: 12px;
    color: var(--white-color);
    line-height: 16px;
    font-weight: 400;
    margin: 3px 0;
    display: flex;
    justify-content: space-between;
}

.ccal,
.proteins,
.fats,
.carbos,
.weight,
.size {
    font-size: 12px;
    color: var(--white-color);
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

@media (min-width: 1280px) {
    .infoBtn {
        z-index: 1;
        top: 5px;
        right: 29px;
        position: absolute;
    }
}
