.display{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    top:0;
    left:0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index:1;
}
.area{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.body{
    height: auto;
    width: 330px;
    display: block;
    /*align-items: center;*/
    /*justify-content: center;*/
    /*padding:30px 10px;*/
    background-color: #FCFCFC;
}
.content{
    background-color: var(--white-color);
    border-radius: 24px;
    /*width: 300px;*/
    /*height: 600px;*/
    padding:10px;
    position: relative;
    opacity: 1;
    transform: translate(0px -100%);
}
.closeElem{
    visibility: hidden;
}
.closeArrow{
    display:flex;
    position: sticky;
    left: 10px;
    top:10px;
    width: 48px;
    height: 48px;
    cursor:pointer;
    z-index: 1;
}
.leftSide{
    display: block;
}
.img{
    width: 288px;
    height: 288px;
    position: relative;
    top: 16px;
    left: 13px;
}
.rightSide{
    display: block;
}
.title{
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    line-height: 33px;
    margin: 16px 0 10px 0;
    width: 85%;
}
.text{
    font-style: normal;
    font-size: 14px;
    line-height: 19px;
    font-weight: 400;
    margin-bottom: 12px;
    color: var(--gray-dark);
}
.description{
    font-family: Arial, sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-right:10px;
    color: #4D4D4D;
}
.footer{
    width: 320px;
    height: 80px;
    background-color: var(--white-color);
    position: sticky;
    bottom:0;
    left:0;
    margin-left:-8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 0;
}
.btnToShopCart{
    width: 288px;
    height: 48px;
    border-radius: 1000px;
    background-color: var(--orange-corp);
    border: 1px solid var(--orange-corp);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: var(--white-color);
    cursor:pointer;
}
.btnToShopCart:hover{
    background-color: var(--orange-dark);
}

@media (min-width: 1280px){
    .body{
        width: 776px;
        height: 388px;
        border-radius: 24px;
        margin:0 auto;
    }
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        margin:0;
        padding:0;
        border-radius: 24px;
    }
    .closeElem{
        visibility: visible;
        position: absolute;
        top:-30px;
        right:-47px;
        font-size: 50px;
        line-height: 50px;
        color: var(--white-color);
        text-decoration: none;
        transform: rotate(45deg);
    }
    .closeArrow{
        display: none;
    }
    .leftSide{
        width: 292px;
        margin:24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .rightSide{
        width: 324px;
        margin: 32px;
        height: 324px;
    }
    .footer{
        width: 380px;
        height: 109px;
        margin-left:-30px;
    }
}
