.container{
    height: 56px;
    position: sticky;
    display: flex;
    top:0;
    left:16px;
    align-items:center;
    background-color: var(--white-color);
    margin-bottom: 20px;
    z-index:1;
}
.btn{
    border:1px solid var(--gray-corp);
    background-color: var(--gray-corp);
    color: var(--semi-black);
    border-radius: 100px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    margin-right: 9px;
    padding:6px 10px 6px 14px;
}
.btn:hover{
    border-color: var(--orange-light);
    background-color: var(--orange-light);
}
.link{
    text-decoration: none;
    color: var(--semi-black);
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
}
.link:hover{
    color: var(--orange-dark);
}
@media (min-width: 1280px){
    .container{
        display: none;
    }
}