.container{
    width: 240px;
    height: 108px;
    border-radius: 10px;
    background-color: var(--white-color);
    box-shadow: 0 6px 15px rgba(6, 5, 50, 0.05);
    border-bottom: 1px solid var(--gray-corp);
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    flex-shrink: 0;
    margin-right: 10px;
    cursor: pointer;
}
.leftSide{

}
.img{
    width: 86px;
    height: 86px;
    padding: 11px 8px 11px 18px;
}
.rightSide{
    display: flex;
    flex-direction: column;
}
.title{
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    padding:6px 10px 4px 0;
    margin:0;
}
.price{
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    /*padding-bottom:33px;*/
    margin:0;
}