.container{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(25px);
    top:0;
    left:0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index:1;
}
.area{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.body{
    height: auto;
    width: 330px;
    display: block;
    background-color: #FCFCFC;
}
.content{
    background-color: var(--white-color);
    border-radius: 24px;
    /*width: 300px;*/
    /*height: 600px;*/
    padding:0 16px;
    position: relative;
    opacity: 1;
    transform: translate(0px -100%);
}
.closeElem{
    position: absolute;
    right: -42px;
    top:-7px;
    width: 16px;
    height: 16px;
    color: var(--white-color);
    text-decoration: none;
    font-size: 31px;
    font-weight: 600;
    transform: rotate(45deg);
}
.titleContainer{
    margin:20px 0 24px 0;
}
.title{
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    font-style: normal;
}
.titleQty{
    font-size: 24px;
    line-height: 33px;
    font-weight: 600;
    font-style: normal;
}
.productsContainer{
    width: 320px;
}
.space{
    min-width: 320px;
    height: 10px;
    background-color: #F3F3F7;
    margin:0 -16px 0 -24px;
    padding:0;
}
.giftTitle{
    display: none;
}
