@font-face {
    font-family: 'Nunito', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Nunito&display=swap')
}

:root {
    --orange-dark: #D15700;
    --orange-middark: #D55406;
    --orange-corp: #F96900;
    --orange-hover: #ED5D08;
    --orange-middle: #FFD0B2;
    --orange-light: #FFF0E6;
    --gray-dark: #73798C;
    --gray-corp: #F3F3F7;
    --usuall-gray: #999999;
    --gray-light: #5C6370;
    --black-color: #000000;
    --semi-black: #464C55;
    --less-black: #4D4D4D;
    --white-color: #FFFFFF;
}

* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*MAIN*/
.wrapper {
    padding-left: 16px;
}

.do-main__container {
    margin-top: 14px;
}

.do-title {
    margin: 25px 0 20px 0;
    font-size: 20px;
    line-height: 27px;
    font-weight: 700;
    font-style: normal;
}




.do-product__section__mobile--pizzas,
.do-product__section__mobile--combos,
.do-product__section__mobile--appetizers,
.do-product__section__mobile--desserts,
.do-product__section__mobile--beverages {
    display: flex;
    flex-direction: column;
}
.redBorder{
    border: 1px solid var(--orange-corp);

}

/*#delivery_and_pay {*/
/*  display: none;*/
/*}*/


/*FOOTER*/

.do-footer__menu-list1 {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    padding-top: 3px;
    margin-bottom: 19px;
}

.do-footer__menu-list2 {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    padding-top: 3px;
    margin-bottom: 22px;
}

@media (min-width: 1280px) {
    .wrapper {
        padding: 25px 110px 0 110px;
    }

    .do-main__container {
        margin: 0;
    }



    /*.btn:focus{*/
    /*  border-color: #6D64F7;*/
    /*  outline: none;*/
    /*}*/



    #delivery_and_pay {
        display: flex;
    }

    /*.do-addinfo {*/
    /*  display: flex;*/
    /*  width: 1060px;*/
    /*  margin-bottom: 56px;*/
    /*}*/
    #do__pizza {
        display: inline-block;
    }

    .do-title {
        margin: 70px 0 30px 0;
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        font-style: normal;
    }
    .btn {
        --size: 3rem;
        background-color: transparent;
        border-radius: 100%;
        display: flex;
        height: var(--size);
        padding: 0;
        width: var(--size);
    }
}