.title{
    display: none;
}
.container{
    display: none
}
@media (min-width: 1280px){
    .title{
        display: flex;
        margin: 50px 0 14px 5px;
        font-size: 24px;
        line-height: 33px;
        font-weight: 700;
        font-style: normal;
    }
    .container{
        display: flex;
        width: 1060px;
        margin-bottom: 56px;
    }
    .article{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 9px 0 5px;
    }
    .articleTitle{
        font-size: 18px;
        font-weight: 600;
        line-height: 26px;
        font-style: normal;
        margin-bottom: 20px;
        color: var(--orange-corp);
    }
    .articleContent{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        font-style: normal;
    }
    .verticalArticle{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 30px;
    }
    .articleExtended{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right:30px;
        margin-bottom:8px;
    }
}